<h1 class="text-white p-2 col-sm">
    <a class="text-decoration-none text-white" href="{{ path('app_home') }}">
        <img class="border border-white" width="50" src="{{ asset('img/eni-logo.png') }}"> 
        Sortir.com
    </a>
</h1>