{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}  
    {% include('home/header.html.twig') %}
    <div class="container">
        {{ form_start(registrationForm) }}

        {{ form_widget(registrationForm)}}

        <div class="btnForm">
            <button class="btnApp">Envoyer</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
